.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 90;

  .line {
    display: block;
    width: 100%;
    height: 2px;
    background: #000; // Change color as needed
    transition: all 0.1s ease-in-out;
    border-radius: 2px;
  }

  &.active {
    .line-1 {
      transform: translateY(11px) rotate(45deg);
      background: #fff;
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      transform: translateY(-11px) rotate(-45deg);
      background: #fff;
    }
  }
}
